/* $main-orange: rgb(250, 84, 50);
$main-grey: rgb(53, 54, 54);
$main-menu-font-color: rgb(254, 254, 254);
$landing-online-course-font: rgb(253, 253, 253);
$landing-block-heading-color: rgb(0, 182, 199);
$landing-block-grey-text: rgba(61, 70, 80, 0.671);
$bread-pieces-color: rgba(53, 54, 54, 0.69);

$page-header-black: rgb(49, 53, 62); */
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaRegularItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular Italic.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaLightItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Light Italic.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold Italic.otf") format("opentype"); }

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century Gothic/Century Gothic.ttf");
  font-style: normal;
  font-weight: normal; }

.mo-margin-list {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url("../fonts/robotoslab/robotoslabthin.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabthin.woff") format("woff"), url("../fonts/robotoslab/robotoslabthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/robotoslab/robotoslablight.woff2") format("woff2"), url("../fonts/robotoslab/robotoslablight.woff") format("woff"), url("../fonts/robotoslab/robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/robotoslab/robotoslabregular.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabregular.woff") format("woff"), url("../fonts/robotoslab/robotoslabregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/robotoslab/robotoslabbold.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabbold.woff") format("woff"), url("../fonts/robotoslab/robotoslabbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf") format("opentype"); }

header.page-header {
  min-height: 4.5625rem;
  -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.27);
  box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.27);
  webkit-backface-visibility: hidden; }
  header.page-header .logo-container .page-header-collapse {
    position: relative;
    top: 1rem;
    right: 2.5%;
    float: right;
    width: 3rem;
    height: 2.625rem;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
    header.page-header .logo-container .page-header-collapse span {
      display: block;
      position: relative;
      height: 0.5rem;
      width: 100%;
      background: #fa5533;
      -webkit-border-radius: 0.625rem;
      -moz-border-radius: 0.625rem;
      -ms-border-radius: 0.625rem;
      border-radius: 0.625rem;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.2625s ease-in-out;
      -moz-transition: 0.2625s ease-in-out;
      -o-transition: 0.2625s ease-in-out;
      transition: 0.2625s ease-in-out; }
      header.page-header .logo-container .page-header-collapse span:nth-child(1) {
        top: 0;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center; }
      header.page-header .logo-container .page-header-collapse span:nth-child(2) {
        top: 0.5625rem;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center; }
      header.page-header .logo-container .page-header-collapse span:nth-child(3) {
        top: 1.125rem;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center; }
  header.page-header .nav-container .header-nav-list {
    max-height: 0;
    -webkit-transition: max-height 0.75s ease;
    -moz-transition: max-height 0.75s ease;
    -o-transition: max-height 0.75s ease;
    transition: max-height 0.75s ease;
    -webkit-transform: translateZ(0);
    overflow: hidden;
    margin-top: 1.25rem; }
  header.page-header .nav-container .header-nav a {
    font-family: "ProximaNova";
    font-size: 1.125rem;
    line-height: 4.5rem;
    text-decoration: none; }
    header.page-header .nav-container .header-nav a:hover, header.page-header .nav-container .header-nav a:link, header.page-header .nav-container .header-nav a:active, header.page-header .nav-container .header-nav a:visited {
      color: #353636; }
  header.page-header .nav-container .header-nav a.active:hover, header.page-header .nav-container .header-nav a.active:link, header.page-header .nav-container .header-nav a.active:active, header.page-header .nav-container .header-nav a.active:visited {
    color: #fa5533; }
  header.page-header .nav-container .header-nav a:hover {
    color: #fa5533; }
  header.page-header .nav-container .header-nav .authorized-user-buttons .header-icons {
    background-image: url("../img/header_icons.png");
    background-repeat: no-repeat;
    display: block; }
  header.page-header .nav-container .header-nav .authorized-user-buttons .wishlist {
    background-color: red;
    outline: 2px solid red;
    width: 1.875rem;
    height: 1.875rem;
    background-position: -55px -45px; }

header.page-header.nav-open {
  height: auto; }
  header.page-header.nav-open .page-header-collapse span:nth-child(1) {
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  header.page-header.nav-open .page-header-collapse span:nth-child(2) {
    opacity: 0;
    filter: alpha(opacity=0); }
  header.page-header.nav-open .page-header-collapse span:nth-child(3) {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  header.page-header.nav-open .nav-container .header-nav-list {
    max-height: 500px;
    -webkit-transition: max-height 0.75s ease;
    -moz-transition: max-height 0.75s ease;
    -o-transition: max-height 0.75s ease;
    transition: max-height 0.75s ease;
    -webkit-transform: translateZ(0); }
